PORT=3000
HOSTNAME=localhost
NODE_ENV=development
ADMIN_API_KEY=change_me_in_prod
ALLOWED_ORIGIN=http://localhost:3000
EXTERNAL_API_URL=http://localhost:3001
GITHUB_TOKEN=
MONGO_URL=mongodb://localhost:27017
MONGO_DB_NAME=lab8_students
